<!DOCTYPE html>
<html>
<head>
    <title>Eliminar un Objeto</title>
</head>
<body>
    <h1>Eliminar un Objeto</h1>
    <form action="/deleteProduct" method="post">
        <label for="product_id">ID del objeto a ELIMINAR:</label>
        <input type="text" id="product_id" name="product_id" required><br>

        <input type="submit" value="ELIMINAR">
    </form>
</body>
</html>
