<!DOCTYPE html>
<html>
<head>
    <title>Descargar factura</title>
</head>
<body>
    <h1>Formulario para decargar factura</h1>
    <form action="/descargarFactura" method="post">
        <label for="facturaID">ID de la factura:</label>
        <input type="text" id="facturaID" name="facturaID" required><br>

        <input type="submit" value="Descargar factura">
    </form>
</body>
</html>
