<!DOCTYPE html>
<html>
<head>
    <title>Búsqueda ID</title>
</head>
<body>
    <h2>Obtener cliente</h2>
    <form action="/findCustomer" method="post">
        <label for="idCustomer">ID del cliente:</label>
        <input type="text" id="idCustomer" name="idCustomer">
        <br>

        <button type="submit">Buscar</button>
    </form>
</body>
</html>
