<!DOCTYPE html>
<html>
<head>
    <title>Formulario para Obtener un Objeto</title>
</head>
<body>
    <h1>Formulario para Obtener un Objeto</h1>
    <form action="/findProduct" method="post">
        <label for="product_id">ID del objeto a obtener:</label>
        <input type="text" id="product_id" name="product_id" required><br>

        <input type="submit" value="Obtener Objeto">
    </form>
</body>
</html>
